body {
    background-color: #C57675;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    flex-direction: column;
}

table, td, th {
    border: 1px solid black;
    background-color: white;
    padding: 4px;
}

td, th {
    width: 110px;
}

table {
    position: relative;
    border-collapse: collapse;
}

input[type=checkbox] {
    border: 0px;
    width: 100%;
    height: 2em;
}

.main {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main > div {
    margin: 2rem;
}

.scores-table {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 62%;
    width: 420px;
    border-radius: 25px;
}

.scores-table > div {
    margin: 5px;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: white;
    border-radius: 25px;

    height: 62%;
    width: 700px;
}

.board > div {
    margin: 1rem;
}

.game {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.game > div {
    margin: 1rem;
}

/* #region buttons */
button {
 position: relative;
 border: none;
 background: transparent;
 padding: 0;
 cursor: pointer;
 outline-offset: 4px;
 transition: filter 250ms;
 user-select: none;
 touch-action: manipulation;
}

.shadow {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: hsl(0deg 0% 0% / 0.25);
 will-change: transform;
 transform: translateY(2px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.edge {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
 display: block;
 position: relative;
 padding: 12px 27px;
 border-radius: 12px;
 font-size: 1.1rem;
 color: white;
 background: #EA2E3D;
 will-change: transform;
 transform: translateY(-4px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

button:hover {
 filter: brightness(110%);
}

button:hover .front {
 transform: translateY(-6px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
 transform: translateY(-2px);
 transition: transform 34ms;
}

button:hover .shadow {
 transform: translateY(4px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
 transform: translateY(1px);
 transition: transform 34ms;
}

button:focus:not(:focus-visible) {
 outline: none;
}
/* #endregion */

.controls > button {
    margin: 0.5rem;
}

.stats {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stats > div {
    margin: 5px;
}

.stats-box {
    border-radius: 6px;
    padding: 5px;
    width: 168px;
}

.active-player {
    background-color: rgb(253, 193, 198);
}

.winner {
    background-color: lightgreen;
}

.dice-goup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.completed {
    background-color: lightgreen;
}

.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}